
<div class="d-flex flex-column">
    <span class="d-flex justify-content-center mat-h2" style="margin-bottom: 50px">{{name}}</span>
    <div class="d-flex justify-content-center">
        <button style="width: 150px; margin-right: 50px"
                [color]="playerConfig?.playerType === playerType.Human ? 'primary' : 'accent'"
                (click)="onHumanButtonClicked()"
                mat-raised-button>
            Human
        </button>
        <button style="width: 150px; margin-right: 5px"
        [color]="playerConfig?.playerType === playerType.Minimax ? 'primary' : 'accent'"
                (click)="onAIButtonClicked()"
                mat-raised-button>
            AI
        </button>
        <button style="width: 100px"
                color="primary"
                [disabled]="playerConfig?.playerType === playerType.Human"
                (click)="onSettingsButtonClicked()"
                mat-raised-button>
            Settings
        </button>
    </div>
    <span class="d-flex justify-content-center"
          style="margin-top: 10px">
        {{getConfigurationText()}}
    </span>
</div>
