<mat-toolbar color="primary">
  <span class="expand-x center-x mat-display-1">Chess Engine</span>
</mat-toolbar>

<div class="expand-x d-flex justify-content-center align-items-center flex-column" style="height: 400px">
  <button class="menu-button" color="primary" mat-raised-button>Play</button>
  <button class="menu-button" color="primary" mat-raised-button>About</button>
  <!-- <div style="height: 200px; background-color: green;" class="d-flex align-items-center flex-column">
    <button class="menu-button" color="primary" mat-raised-button>Play</button>
    <button class="menu-button" color="primary" mat-raised-button>About</button>
  </div> -->
</div>
