
<div class="expand-x d-flex flex-column standard-height">
    <!-- Back and Next buttons -->
    <div class="d-flex" style="justify-content: space-between">
        <button routerLink="/" style="width: 70px; margin: 10px 10px" color="primary" mat-raised-button>Back</button>
        <button routerLink="/board-page" style="width: 70px; margin: 10px 10px" color="primary" mat-raised-button>Next</button>
    </div>

    <!-- Settings title -->
    <span class="mat-h1" style="color: white; margin: 0 10px; border-bottom: 2px solid white">Settings</span>

    <!-- Settings -->
    <div class="expand d-flex flex-column">

        <!-- White -->
        <div class="d-flex justify-content-center flex-1" style="color: white">
            <app-player-settings class="expand" [name]="'White'" [playerConfig]="playerConfigService.getWhitePlayerConfig()"></app-player-settings>
        </div>

        <!-- Black -->
        <div class="d-flex justify-content-center flex-1" style="color: white">
            <app-player-settings class="expand" [name]="'Black'" [playerConfig]="playerConfigService.getBlackPlayerConfig()"></app-player-settings>
        </div>
    </div>
</div>
